[gcode_macro _FILAMENT]
variable_pla_temp: 210
variable_petg_temp: 235
variable_unload_len: 100
variable_load_len: 40
variable_purge_len: 50

gcode:
    M117 Filament config loaded

[gcode_macro FILAMENT]
description: Smart filament change PLA/PETG
variable_last_type: "PLA"

gcode:
    {% set cfg = printer["gcode_macro _FILAMENT"] %}
    {% set TYPE = params.TYPE|default(printer["gcode_macro FILAMENT"].last_type)|upper %}

    {% set tool_temp = 0 %}

    {% if TYPE == "PLA" %}
        {% set tool_temp = cfg.pla_temp %}
    {% elif TYPE == "PETG" %}
        {% set tool_temp = cfg.petg_temp %}
    {% else %}
        RESPOND PREFIX="ERROR" MSG="Use PLA or PETG"
        M117 ERROR
        {% endif %}
    {% endif %}

    SET_GCODE_VARIABLE MACRO=FILAMENT VARIABLE=last_type VALUE="'{TYPE}'"

    M117 Filament {TYPE}

    # --- Heat ---
    M104 S{tool_temp}
    M109 S{tool_temp}

    G92 E0

    # --- Unload ---
    M117 Unloading...
    G1 E5 F200
    G1 E-20 F300
    G1 E-{cfg.unload_len} F800

    # --- Load ---
    M117 Loading {TYPE}
    G92 E0
    G1 E{cfg.load_len} F300

    # --- Purge ---
    M117 Purge
    G1 E{cfg.purge_len} F200

    M104 S0
    M117 Done {TYPE}

[display_gcode_macro PLA_LOAD]
gcode:
    FILAMENT TYPE=PLA

[display_gcode_macro PETG_LOAD]
gcode:
    FILAMENT TYPE=PETG