[include fluidd.cfg]
[include shell_command.cfg]
#[include adxl.cfg]
[include macros_change_filament.cfg]
[include macros_start_stop_resume.cfg]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_370027000D47393438343535-if00
serial: /dev/serial0
baud: 250000
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE5
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop   # PA2
position_endstop: -10
position_min: -10
position_max: 258
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PE4
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: True
sense_resistor: 0.110
diag_pin: PA2          # зависит от платы
driver_SGTHRS: 49       # чувствительность (подбирается!)(homing_speed: 20, run_current: 0.800, driver_SGTHRS: от 44 до 54)

[stepper_y]
step_pin: PB9
dir_pin: !PB8
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop  # PB10
position_endstop: -24
position_min: -24
position_max: 210
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PE0
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: True
sense_resistor: 0.110
diag_pin: PB10          # зависит от платы
driver_SGTHRS: 55       # чувствительность (подбирается!)(homing_speed: 20, run_current: 0.800, driver_SGTHRS: от 48 до 62)

[stepper_z]
step_pin: PB3
dir_pin: PD7
enable_pin: !PB5
microsteps: 16
step_pulse_duration: 0.0000004
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_min: -5
position_max: 230

[tmc2209 stepper_z]
uart_pin: PB4
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: True
sense_resistor: 0.110

[stepper_z1]
step_pin: PC13
dir_pin: PC0
enable_pin: !PC15
microsteps: 16
rotation_distance: 8

[tmc2209 stepper_z1]
uart_pin: PC14
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 999999
interpolate: True
sense_resistor: 0.110

[extruder]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 16
##gear_ratio: 5:1
## Steps per mm: 679
## Rotation Degrees: 1.8
## Full Steps Per Rotation: 200
## Rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm> 200*16/706.5=4.52 from reprap 
## 4.712812960235641 = 200 * 16 / 679
rotation_distance: 4.52 # 4.46   
max_extrude_only_distance: 120.0
max_extrude_only_velocity: 80.0
max_extrude_only_accel: 800.0
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.00
pressure_advance_smooth_time: 0.040
heater_pin: PA5
sensor_pin: PA4
sensor_type: ATC Semitec 104GT-2
control = pid  # 250C
pid_kp = 29.494
pid_ki = 1.695
pid_kd = 128.297
min_temp: 5
max_temp: 300
min_extrude_temp: 180

[tmc2209 extruder]
uart_pin: PD5
run_current: 0.800
hold_current: 0.400
stealthchop_threshold: 0
interpolate: True
sense_resistor: 0.110

[verify_heater extruder]
max_error: 60
check_gain_time: 20
hysteresis: 5
heating_gain: 2

[heater_bed]
heater_pin: PC6
sensor_pin: PA3
sensor_type: EPCOS 100K B57560G104F
control = pid   # 100C
pid_kp = 72.440
pid_ki = 1.345
pid_kd = 975.218
min_temp: 0
max_temp: 120

[verify_heater heater_bed]
max_error: 100
check_gain_time: 45
hysteresis: 5
heating_gain: 2

[fan]  # обдув детали
pin: PA7
#cycle_time: 0.50

[heater_fan hotend_fan]
pin: PA6
heater: extruder
heater_temp: 50
fan_speed: 1.0

[controller_fan mainboard_fan]
pin: PB7
#stepper: stepper_x, stepper_y, stepper_z
heater: extruder
fan_speed: 1.0
idle_timeout: 60

[fan_generic case_light]
pin: PB6
max_power: 1.0
cycle_time: 0.001
shutdown_speed: 0

[temperature_sensor E3-PRO-MCU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[bltouch]
sensor_pin: ^PC5
control_pin: PB0
stow_on_each_sample: False
x_offset: -38
y_offset: 18
z_offset: 2.85
speed: 5
lift_speed: 10
samples: 2
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 3
sample_retract_dist: 2.5

[safe_z_home]
home_xy_position: 155, 99
speed: 80
z_hop: 10
z_hop_speed: 5

[bed_mesh]
mesh_min: 15, 10
mesh_max: 220, 225
probe_count: 7, 7
speed: 120
horizontal_move_z: 5
algorithm: bicubic

[z_tilt]
z_positions:
    -27, 117.5
    262, 117.5

points:
    58, 99
    253, 99

speed: 120
horizontal_move_z: 10
retries: 3
retry_tolerance: 0.02

[screws_tilt_adjust]
screw1: 70, 14
screw1_name: front_left

screw2: 241, 14
screw2_name: front_right

screw3: 241, 185
screw3_name: rear_right

screw4: 70, 185
screw4_name: rear_left

speed: 50
horizontal_move_z: 5
screw_thread: CW-M4

[force_move] 
enable_force_move: true 

[exclude_object]

[firmware_retraction]
retract_length: 0.5
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 35

[respond]

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE12, EXP1_3=PE10,  EXP1_5=PE9,   EXP1_7=PE7,  EXP1_9=<GND>,
    EXP1_2=PE11, EXP1_4=<RST>, EXP1_6=PE8,   EXP1_8=PB1,  EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[gcode_macro LIGHT_ON]
gcode:
    SET_FAN_SPEED FAN=case_light SPEED=1.0

[gcode_macro LIGHT_OFF]
gcode:
    SET_FAN_SPEED FAN=case_light SPEED=0.0

[gcode_macro NIGHT_LIGHT]
gcode:
    SET_FAN_SPEED FAN=case_light SPEED=0.15

[idle_timeout]
timeout: 1800
gcode:
    LIGHT_OFF

[gcode_macro UNSAFE_RAISE_TOOL]
gcode:
    G90
    SET_KINEMATIC_POSITION Z=0
    G0 Z10 F600
    M84

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[gcode_macro move_tool_to_center]
gcode:
    G0 Z5 F600
    G0 X117 Y117 F600
    

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.681250, 0.435000, 0.280000, 0.070000, -0.105000, -0.341250, -0.468750
#*# 	0.632500, 0.407500, 0.262500, 0.040000, -0.120000, -0.352500, -0.490000
#*# 	0.646250, 0.420000, 0.261250, 0.035000, -0.133750, -0.368750, -0.506250
#*# 	0.631250, 0.398750, 0.240000, 0.017500, -0.145000, -0.371250, -0.500000
#*# 	0.642500, 0.402500, 0.241250, 0.017500, -0.145000, -0.373750, -0.501250
#*# 	0.652500, 0.412500, 0.255000, 0.031250, -0.133750, -0.370000, -0.495000
#*# 	0.718750, 0.472500, 0.311250, 0.091250, -0.078750, -0.328750, -0.457500
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 219.95999999999998
#*# min_y = 10.0
#*# max_y = 224.97999999999996

